/studentEnrollment/bin/Debug/net9.0/Azure.Core.dll
/studentEnrollment/bin/Debug/net9.0/*.dll
/studentEnrollment/bin/Debug/net9.0/af/*.dll
/studentEnrollment/bin/Debug/net9.0/*.json
/studentEnrollment/bin/Debug/net9.0/ar/*.dll
/studentEnrollment/bin/Debug/net9.0/az/*.dll
/studentEnrollment/bin/Debug/net9.0/bg/*.dll
/studentEnrollment/bin/Debug/net9.0/bn-BD/*.dll
/studentEnrollment/bin/Debug/net9.0/cs/*.dll
/studentEnrollment/bin/Debug/net9.0/de/*.dll
/studentEnrollment/bin/Debug/net9.0/el/*.dll
/studentEnrollment/bin/Debug/net9.0/es/*.dll
/studentEnrollment/bin/Debug/net9.0/da/*.dll
/studentEnrollment/bin/Debug/net9.0/fa/*.dll
/studentEnrollment/bin/Debug/net9.0/fi-FI/*.dll
/studentEnrollment/bin/Debug/net9.0/fr-BE/*.dll
/studentEnrollment/bin/Debug/net9.0/fr/*.dll
/studentEnrollment/bin/Debug/net9.0/he/*.dll
/studentEnrollment/bin/Debug/net9.0/hr/*.dll
/studentEnrollment/bin/Debug/net9.0/hu/*.dll
/studentEnrollment/bin/Debug/net9.0/hy/*.dll
/studentEnrollment/bin/Debug/net9.0/id/*.dll
/studentEnrollment/bin/Debug/net9.0/is/*.dll
/studentEnrollment/bin/Debug/net9.0/it/*.dll
/studentEnrollment/bin/Debug/net9.0/ja/*.dll
/studentEnrollment/bin/Debug/net9.0/ko-KR/*.dll
/studentEnrollment/bin/Debug/net9.0/ko/*.dll
/studentEnrollment/bin/Debug/net9.0/ku/*.dll
/studentEnrollment/bin/Debug/net9.0/lv/*.dll
/studentEnrollment/bin/Debug/net9.0/ms-MY/*.dll
/studentEnrollment/bin/Debug/net9.0/mt/*.dll
/studentEnrollment/bin/Debug/net9.0/nb-NO/*.dll
/studentEnrollment/bin/Debug/net9.0/nb/*.dll
/studentEnrollment/bin/Debug/net9.0/nl/*.dll
/studentEnrollment/bin/Debug/net9.0/pl/*.dll
/studentEnrollment/bin/Debug/net9.0/pt-BR/*.dll
/studentEnrollment/bin/Debug/net9.0/pt/*.dll
/studentEnrollment/bin/Debug/net9.0/ro/*.dll
/studentEnrollment/bin/Debug/net9.0/ru/*.dll
/studentEnrollment/bin/Debug/net9.0/runtimes/unix/lib/net6.0/*.dll
/studentEnrollment/bin/Debug/net9.0/runtimes/win-arm/native/*.dll
/studentEnrollment/bin/Debug/net9.0/runtimes/win-arm64/native/*.dll
/studentEnrollment/bin/Debug/net9.0/runtimes/win-x64/native/*.dll
/studentEnrollment/bin/Debug/net9.0/runtimes/win-x86/native/*.dll
/studentEnrollment/bin/Debug/net9.0/runtimes/win/lib/net6.0/*.dll
/studentEnrollment/bin/Debug/net9.0/sk/*.dll
/studentEnrollment/bin/Debug/net9.0/sl/*.dll
/studentEnrollment/bin/Debug/net9.0/sr-Latn/*.dll
/studentEnrollment/bin/Debug/net9.0/sr/*.dll
/studentEnrollment/bin/Debug/net9.0/*.exe
/studentEnrollment/bin/Debug/net9.0/*.pdb
/studentEnrollment/bin/Debug/net9.0/sv/*.dll
/studentEnrollment/bin/Debug/net9.0/th-TH/*.dll
/studentEnrollment/bin/Debug/net9.0/tr/*.dll
/studentEnrollment/bin/Debug/net9.0/uk/*.dll
/studentEnrollment/bin/Debug/net9.0/uz-Cyrl-UZ/*.dll
/studentEnrollment/bin/Debug/net9.0/uz-Latn-UZ/*.dll
/studentEnrollment/bin/Debug/net9.0/vi/*.dll
/studentEnrollment/bin/Debug/net9.0/zh-CN/*.dll
/studentEnrollment/bin/Debug/net9.0/zh-Hans/*.dll
/studentEnrollment/bin/Debug/net9.0/zh-Hant/*.dll
/studentEnrollment/obj/Debug/net9.0/*.cs
/studentEnrollment/obj/Debug/net9.0/*.json
/studentEnrollment/obj/Debug/net9.0/*.exe
/studentEnrollment/obj/Debug/net9.0/compressed/*.gz
/studentEnrollment/obj/Debug/net9.0/ref/*.dll
/studentEnrollment/obj/Debug/net9.0/refint/*.dll
/studentEnrollment/obj/Debug/net9.0/scopedcss/Pages/Shared/*.css
/studentEnrollment/obj/Debug/net9.0/scopedcss/bundle/*.css
/studentEnrollment/obj/Debug/net9.0/scopedcss/projectbundle/*.css
/studentEnrollment/obj/Debug/net9.0/*.txt
/studentEnrollment/obj/Debug/net9.0/staticwebassets/*.props
/studentEnrollment/obj/Debug/net9.0/*.Up2Date
/studentEnrollment/obj/Debug/net9.0/*.cache
/studentEnrollment/obj/Debug/net9.0/*.editorconfig
/studentEnrollment/obj/Debug/net9.0/*.BuildWithSkipAnalyzers
/studentEnrollment/obj/Debug/net9.0/*.dll
/studentEnrollment/obj/Debug/net9.0/*.pdb
/studentEnrollment/obj/*.json
/studentEnrollment/obj/*.cache
/studentEnrollment/obj/*.props
/studentEnrollment/obj/*.targets
/studentEnrollment/wwwroot/css/*.css
/studentEnrollment/wwwroot/*.ico
/studentEnrollment/wwwroot/js/*.js
/studentEnrollment/wwwroot/lib/bootstrap/dist/css/*.css
/studentEnrollment/wwwroot/lib/bootstrap/dist/css/*.map
/studentEnrollment/wwwroot/lib/bootstrap/dist/js/*.js
/studentEnrollment/wwwroot/lib/bootstrap/dist/js/*.map
/studentEnrollment/wwwroot/lib/jquery-validation-unobtrusive/*.txt
/studentEnrollment/wwwroot/lib/jquery-validation-unobtrusive/dist/*.js
/studentEnrollment/wwwroot/lib/jquery-validation/*.md
/studentEnrollment/wwwroot/lib/jquery-validation/dist/*.js
/studentEnrollment/wwwroot/lib/jquery/*.txt
/studentEnrollment/wwwroot/lib/jquery/dist/*.js
/studentEnrollment/wwwroot/lib/jquery/dist/*.map
/studentEnrollment/wwwroot/lib/bootstrap
